SecretSynchLogicApp.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each_cpi_tenant": {
                "actions": {
                    "Fetch_CSRF_token": {
                        "inputs": {
                            "authentication": {
                                "type": "Raw",
                                "value": "Bearer @{body('Parse_JSON')?['access_token']}"
                            },
                            "headers": {
                                "X-CSRF-Token": "Fetch"
                            },
                            "method": "HEAD",
                            "uri": "https://@{concat(items('For_each_cpi_tenant')?['domain'],'.',items('For_each_cpi_tenant')?['runtime'],'.cfapps.',items('For_each_cpi_tenant')?['region'])}.hana.ondemand.com/api/v1/"
                        },
                        "runAfter": {
                            "Parse_JSON": [
                                "Succeeded"
                            ]
                        },
                        "type": "Http"
                    },
                    "For_each_secret": {
                        "actions": {
                            "Get_shared_secret": {
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['keyvault']['connectionId']"
                                        }
                                    },
                                    "method": "get",
                                    "path": "/secrets/@{encodeURIComponent(items('For_each_secret'))}/value"
                                },
                                "runAfter": {},
                                "type": "ApiConnection"
                            },
                            "Update_secret_on_CPI_tenant": {
                                "inputs": {
                                    "authentication": {
                                        "type": "Raw",
                                        "value": "Bearer @{body('Parse_JSON')?['access_token']}"
                                    },
                                    "body": {
                                        "Description": "shared secret",
                                        "Kind": "default",
                                        "Name": "@{items('For_each_secret')}",
                                        "Password": "@{body('Get_shared_secret')?['value']}",
                                        "User": "@{items('For_each_secret')}"
                                    },
                                    "headers": {
                                        "Content-Type": "application/json",
                                        "X-CSRF-Token": "@{outputs('Fetch_CSRF_token')['headers']?['x-csrf-token']}"
                                    },
                                    "method": "PUT",
                                    "uri": "https://@{concat(items('For_each_cpi_tenant')?['domain'],'.',items('For_each_cpi_tenant')?['runtime'],'.cfapps.',items('For_each_cpi_tenant')?['region'])}.hana.ondemand.com/api/v1/UserCredentials('@{items('For_each_secret')}')"
                                },
                                "runAfter": {
                                    "Get_shared_secret": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            }
                        },
                        "foreach": "@body('Parse_Config_JSON')?['credentials']",
                        "runAfter": {
                            "Fetch_CSRF_token": [
                                "Succeeded"
                            ]
                        },
                        "type": "Foreach"
                    },
                    "Get_API_User": {
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['keyvault']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/secrets/@{encodeURIComponent(concat(items('For_each_cpi_tenant')?['domain'],'-user'))}/value"
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    },
                    "Get_API_pwd": {
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['keyvault']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/secrets/@{encodeURIComponent(concat(items('For_each_cpi_tenant')?['domain'],'-pwd'))}/value"
                        },
                        "runAfter": {
                            "Get_API_User": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    },
                    "Get_Bearer_Token_for_CPI_API": {
                        "inputs": {
                            "authentication": {
                                "password": "@body('Get_API_pwd')?['value']",
                                "type": "Basic",
                                "username": "@body('Get_API_User')?['value']"
                            },
                            "method": "POST",
                            "uri": "https://@{concat(items('For_each_cpi_tenant')?['domain'],'.authentication.',items('For_each_cpi_tenant')?['region'])}.hana.ondemand.com/oauth/token?grant_type=client_credentials"
                        },
                        "runAfter": {
                            "Get_API_pwd": [
                                "Succeeded"
                            ]
                        },
                        "type": "Http"
                    },
                    "Parse_JSON": {
                        "inputs": {
                            "content": "@body('Get_Bearer_Token_for_CPI_API')",
                            "schema": {
                                "properties": {
                                    "access_token": {
                                        "type": "string"
                                    },
                                    "expires_in": {
                                        "type": "integer"
                                    },
                                    "jti": {
                                        "type": "string"
                                    },
                                    "scope": {
                                        "type": "string"
                                    },
                                    "token_type": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "runAfter": {
                            "Get_Bearer_Token_for_CPI_API": [
                                "Succeeded"
                            ]
                        },
                        "type": "ParseJson"
                    }
                },
                "foreach": "@body('Parse_Config_JSON')?['config']",
                "runAfter": {
                    "Parse_Config_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Initialize_Object": {
                "inputs": {
                    "variables": [
                        {
                            "name": "ConfigObject",
                            "type": "string",
                            "value": "{\n\t\"config\": [{\n\t\t\"domain\": \"dr-primary\",\n\t\t\"runtime\": \"it-cpi005\",\n\t\t\"region\": \"eu20\"\n\t}, {\n\t\t\"domain\": \"cpi-dr-secondary\",\n\t\t\"runtime\": \"it-cpi013\",\n\t\t\"region\": \"us21\"\n\t}],\n\t\"credentials\": [\"CPI-AUTH-SHARED\"]\n}"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Parse_Config_JSON": {
                "inputs": {
                    "content": "@variables('ConfigObject')",
                    "schema": {
                        "properties": {
                            "config": {
                                "items": {
                                    "properties": {
                                        "domain": {
                                            "type": "string"
                                        },
                                        "region": {
                                            "type": "string"
                                        },
                                        "runtime": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "domain",
                                        "runtime",
                                        "region"
                                    ],
                                    "type": "object"
                                },
                                "type": "array"
                            },
                            "credentials": {
                                "items": {
                                    "type": "string"
                                },
                                "type": "array"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Initialize_Object": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_resource_event_occurs": {
                "inputs": {
                    "body": {
                        "properties": {
                            "destination": {
                                "endpointType": "webhook",
                                "properties": {
                                    "endpointUrl": "@{listCallbackUrl()}"
                                }
                            },
                            "filter": {
                                "includedEventTypes": [
                                    "Microsoft.KeyVault.SecretNewVersionCreated"
                                ]
                            },
                            "topic": "/subscriptions/<<<your subscription id>>>/resourceGroups/<<<your resource group id>>>/providers/Microsoft.KeyVault/vaults/<<<your key vault name>>>"
                        }
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureeventgrid_1']['connectionId']"
                        }
                    },
                    "path": "/subscriptions/@{encodeURIComponent('<<<your subscription id>>>')}/providers/@{encodeURIComponent('Microsoft.KeyVault.vaults')}/resource/eventSubscriptions",
                    "queries": {
                        "x-ms-api-version": "2017-09-15-preview"
                    }
                },
                "splitOn": "@triggerBody()",
                "type": "ApiConnectionWebhook"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azureeventgrid_1": {
                    "connectionId": "/subscriptions/<<<your subscription id>>>/resourceGroups/<<<your resource group id>>>/providers/Microsoft.Web/connections/azureeventgrid",
                    "connectionName": "azureeventgrid",
                    "id": "/subscriptions/<<<your subscription id>>>/providers/Microsoft.Web/locations/northeurope/managedApis/azureeventgrid"
                },
                "keyvault": {
                    "connectionId": "/subscriptions/<<<your subscription id>>>/resourceGroups/<<<your resource group id>>>/providers/Microsoft.Web/connections/keyvault",
                    "connectionName": "keyvault",
                    "id": "/subscriptions/<<<your subscription id>>>/providers/Microsoft.Web/locations/northeurope/managedApis/keyvault"
                }
            }
        }
    }
}